.updateproduct{
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    padding: 30px 50px;
    margin: 20px 30px;
    border-radius: 6px;
    background: rgb(255, 255, 255);
}
.updateproduct H1{
    text-align: center;
}
.updateproduct-price{
    display: flex;
    gap: 40px;
}
.updateproduct-itemfield{
    width: 100%;
    color: #6a8fe4;
    font-size: 16px;
    margin-top: 30px;
}
.updateproduct-itemfield-show{
    color: #6a8fe4;
    font-size: 16px;
    margin-top: 90px;
    font-weight: 600;
    text-align: center;
}
.updateproduct-itemfield input{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #6a8fe4;
    outline: none;
    color: #7b7b7b;
    font-family: 'Poppins';
    font-size: 14px;

}
.updateproduct-button{
    margin-top: 150px;
    margin-left: 270px;
    width: 160px;
    height: 50px;
    border-radius: 6px;
    background: #07205c;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
@media screen and (max-width:800px) {
    .updateproduct{
        max-width: 750px;
    }
    .updateproduct-button{
        margin-left: 240px;
    }
}
@media screen and (max-width:500px) {
    .updateproduct{
        max-width: 380px;
    }
    .updateproduct-button{
        margin-left: 240px;
    }
    .updateproduct-itemfield{
        margin: auto;
        font-size: 14px;
    }
    .updateproduct-itemfield-show{
        margin: auto;
        font-size: 14px;
    }
    .updateproduct-itemfield input{
        font-size: 12px;
    }
    .updateproduct-button{
        margin-top: auto;
        margin-left: 60px;
        font-size: 14px;
    }
}
