.topbar{
    background-color: white;
}

.topbar h1{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 1000;
    margin-bottom: 50px;
    background: blue;
    color: white;
}
.topbar hr{
    width: 100%;
    border: #000;
    border-radius: 2000px;
    height: 1px;
    background-color: #000000;
    margin-bottom: 0px;
}
@media screen and (max-width:800px) {
    .topbar h1{
        font-size: 40px;
    }
}
@media screen and (max-width:500px) {
    .topbar h1{
        font-size: 25px;
    }
}