.sidebar{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 20px;
    width: 100%;
    max-width: 250px;
    height: 110vh;
    background: white;
}
.sidebar-item-showusers{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 20px;
    padding: 5px 10px;
    border-radius: 6px;
    background: #f6f6f6;
    gap: 20px;
    cursor: pointer;
}
.sidebar-item-showusers img{
    width: 100px;
}
.sidebar-item-add{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 20px;
    padding: 5px 10px;
    border-radius: 6px;
    background: #f6f6f6;
    gap: 20px;
    cursor: pointer;
}
.sidebar-item-add img{
    width: 100px;
}
.sidebar-item-update{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 20px;
    padding: 5px 10px;
    border-radius: 6px;
    background: #f6f6f6;
    gap: 20px;
    cursor: pointer;
}
.sidebar-item-update img{
    width: 100px;
}
.sidebar-item-delete{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 20px;
    padding: 5px 10px;
    border-radius: 6px;
    background: #f6f6f6;
    gap: 20px;
    cursor: pointer;
}
.sidebar-item-delete img{
    width: 100px;
}
.sidebar-item-show{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 20px;
    padding: 5px 10px;
    border-radius: 6px;
    background: #f6f6f6;
    gap: 20px;
    cursor: pointer;
}
.sidebar-item-show img{
    width: 100px;
}
    
@media screen and (max-width: 800px) {
    .sidebar {
        padding: 30px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: none;
        height: auto;
        gap: 20px;
    }
    .sidebar-item-showusers{
        max-width: 150px;
        height: auto;
    }
    .sidebar-item-showusers img{
        width: 50px;
        height: auto;
    }
    .sidebar-item-add{
        max-width: 150px;
        height: auto;
    }
    .sidebar-item-add img{
        width: 50px;
        height: auto;
    }
    .sidebar-item-update{
        max-width: 150px;
        height: auto;
    }
    .sidebar-item-update img{
        width: 50px;
        height: auto;
    }
    .sidebar-item-delete{
        max-width: 150px;
        height: auto;
    }
    .sidebar-item-delete img{
        width: 50px;
        height: auto;
    }
    .sidebar-item-show{
        max-width: 150px;
        height: auto
    }
    .sidebar-item-show img{
        width: 50px;
        height: auto;
    }

}
@media screen and (max-width:500px) {
    .sidebar {
        padding: 30px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: none;
        height: auto;
        gap: 20px;
    }

}