.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
}
.nav-logo{
    display: flex;
    gap: 20px;
}
.nav-logo img{
    width: 50px;
}
.nav-logo p{
    font-size: 50px;
    position: absolute;
    margin-top: 10px;
    margin-left: 80px;
    font-weight: 1000;
}
.nav-profile{
    display: flex;
    align-items: center;
    gap: 50px;
}
.client-nav button{
    margin-left: 950px;
    width: 65px;
    height: 40px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 12px;
    font-weight: 500;
    background-color: rgb(96, 162, 227);
    cursor: pointer;
}
.client-nav button:active{
    background-color: #7a7a7a;
}
.nav-profile p{
    font-size: 20px;
    font-weight: 600;
}
.nav-profile img{

    width: 60px;
}
.nav-profile button{
    border: none;
    background: none;
    cursor: pointer;
}
@media screen and (max-width:1280px) {
    .client-nav button{
        gap: 0px;
        margin-left: 650px;
    }
}
@media screen and (max-width:1080px) {
    .client-nav button{
        gap: 0px;
        margin-left: 450px;
    }
}
@media screen and (max-width:800px) {
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo img{
        width: 30px;
    }
    .nav-logo p{
        font-size: 30px;
        margin-top: 10px;
        margin-left: 50px;
    }
    .client-nav button{
        gap: 0px;
        margin-left: 350px;
    }
    .nav-profile{
        gap: 20px;
    }
    .nav-profile p{
        font-size: 18px;
    }
    .nav-profile img{
        width: 45px;
    }
    
}
@media screen and (max-width:500px) {
    .navbar{
        padding: 15px 10px;
    }
    .nav-logo img{
        width: 20px;
    }
    .nav-logo p{
        font-size: 20px;
        margin-top: 5px;
        margin-left: 35px;
    }
    .nav-profile{
        gap: 10px;
    }
    .nav-profile p{
        font-size: 12px;
    }
    .nav-profile img{
        width: 30px;
    }
    
}